
myenv/
venv/
env/
.env/
bin/
lib/
share/
Include/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/
*.csv
*.xlsx
*.pkl
*.parquet
data/raw/
data/processed/


.streamlit/config.toml
.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.swp
*.swo


*.log
logs/